<html>
  <body>
    <!-- ... -->
    <h2>Inscription :</h2>
    <br>
    <br>
    <br>
    <%= form_tag url_for(action: 'create'), method: "user" do %>
      <%= label_tag 'Email' %> <br>
      <%= text_field_tag '[email]'%>

      <br /> <br />

      <%= label_tag 'Password' %> <br>
      <%= text_field_tag '[password]'%>

      <br /> <br />

     <%= submit_tag "Sign In" %>
    
    <% end %>

  </body>
</html>    