<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Po-potins" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"> -->

    <!-- Bootswatch -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">

  </head>

  <body>
    <div class="viewport">

      <header class="navbar">
        <h1 class="navbar-brand">
          <%= link_to "Po-Potins", root_path %>
        </h1>

        <nav>
          <%= link_to "la TEAM", team_path %>
          -
          <%= link_to "Nous CONTACTER", contact_path %>
        </nav>

        <nav>
          <% if logged_in? %>
            <%= link_to new_gossip_path, class:'icon' do %>
              <i class="fa fa-plus-circle fa-2x"></i> Publier
            <% end %>

            <div class="dropdown show">
              <a class="dropdown-toggle"
              href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <i class="fa fa-user fa-2x"></i>
                <%= current_user.first_name %>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to user_path(current_user.id),
                class: "dropdown-item" do %>
                  Mon Profil
                <% end %>
                <%= link_to session_path(session.id),
                method: :delete, class: "dropdown-item" do %>
                  Se Déconnecter
                <% end %>
              </div>
            </div>

          <% else %>


            <div class="dropdown show">
              <a class="dropdown-toggle"
              href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <i class="fa fa-user-cog fa-2x"></i>
                Connexion
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to new_session_path,
                class: "dropdown-item" do %>
                  Se Connecter
                <% end %>
                <%= link_to new_user_path,
                class: "dropdown-item" do %>
                  S'inscrire
                <% end %>
              </div>
            </div>

          <% end %>
        </nav>
      </header>

      <div class="flashes">

        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
      </div>

      <div class="container">
        <%= yield %>
      </div>

      <footer class=''>
        <div class="container">
          <div class="row">

            <div class="col">
              <p>Un petit test de footer</p>
            </div>

            <div class="col">
              <p>follow us on</p>
              <a class="twitter-follow-button"
              href="https://twitter.com/eddymalou"
              data-size="large">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
              <a href="https://www.facebook.com/pages/category/Chef/Sylvain-Pierre-Durif-le-Grand-Monarque-Le-christ-Cosmique-1726743444214535/">
                <i class="fab fa-facebook-square fa-2x"></i>
              </a>
              <a href="https://github.com/thp-grenobles8">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>

          </div>
        </div>
      </footer>

    </div>
  </body>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

</html>
